<div class="container">

  <% if @customer == current_customer %>
    <h2>マイページ</h2>
  <% else %>
    <h2>会員情報</h2>
  <% end %>
  
  <%= image_tag @customer.get_image(400,400), class: "img-fluid" %><br><br>
  
  <h6>ニックネーム</h6>
  <h5><%= @customer.nickname %></h5><br>
  
  <h6>自己紹介</h6>
  <%= @customer.introduction %><br><br>
  
  
  <% if @customer != current_customer %>
      <% if current_customer.following?(@customer) %>
         <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class:"btn btn-danger" %>
       <% else %>
         <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class:"btn btn-info" %>
      <% end %>
  <% else %>
    <%= link_to "編集する", edit_customer_path(@customer) ,class:"btn btn-success" %>
  <% end %>
  
  <br>
  
  <div class="row">
    <div class="card-list-container py-5 row gap-2 col-sm-12 mx-auto justify-content-center">
      <% @photos.each do |customer_photo| %>
        <div class="card mt-4 shadow-lg card-3">
          <div class="p-2">
            <%= link_to photo_path(customer_photo.id) do %>
             <%= image_tag customer_photo.image.variant(gravity: :center, resize:"200x200^",crop:"200x200+0+0").processed%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= paginate @photos %>
  </div>

</div>