<h1>写真投稿編集</h1>

<%= form_with model: @photo, url: photo_path do |f| %>

  <h4>写真</h4>
  <%= image_tag f.object.image, size: '200x200' %>

  <h4>使用カメラ</h4>
  <!--既に保存済みのデータを表示する。pluckは、呼び出したいデータを絞る（複数持ってくることも可）。-->
  <%= f.text_field :camera_tags, value: @photo.cameras.pluck(:name) %>

  <h4>使用加工アプリ</h4>
  <%= f.text_field :editing_app_tags, value: @photo.editing_apps.pluck(:name) %>

  <h4>投稿者コメント</h4>
  <%= f.text_area :introduction %>

  <h4>タグ</h4>
  <%= f.text_field :name_tags, value: @photo.tags.pluck(:name).join(',') %>

  <%= f.submit '変更を保存', class:"btn btn-success" %>

<% end %>