<div class="container">

  <h1>写真投稿編集</h1>
  
  <%= form_with model: @photo, url: photo_path do |f| %>
  
    <div class="field mt-4">
      <h4>写真</h4>
      <%= image_tag f.object.image, width: '200' %>
    </div>
  
    <div class="field mt-4">
      <h4>使用カメラ</h4>
      <!--既に保存済みのデータを表示する。pluckは、呼び出したいデータを絞る（複数持ってくることも可）。-->
      <%= f.text_field :camera_tags, value: @photo.cameras.pluck(:name) %>
    </div>
  
    <div class="field mt-4">
      <h4>使用加工アプリ</h4>
      <%= f.text_field :editing_app_tags, value: @photo.editing_apps.pluck(:name) %><br>
      ※複数の加工アプリが登録できます。<br>
      複数登録する場合は、文字と文字の間を『 , 』(半角カンマ)で区切ってください。<br>
    </div>
    
    <div class="field mt-4">
      <h4>投稿者コメント</h4>
      <%= f.text_area :introduction %>
    </div>
  
    <div class="field mt-4">
      <h4>タグ</h4>
      <%= f.text_field :name_tags, value: @photo.tags.pluck(:name).join(',') %><br>
      ※複数のタグが登録できます。<br>
      複数登録する場合は、文字と文字の間を『 , 』(半角カンマ)で区切ってください。<br>
    </div>
  
    <div class="field mt-5">
      <%= f.submit '変更を保存', class:"btn btn-success" %>
    </div>
  
  <% end %>
  
</div>