<div class="container">

  <div class="row">
    <% if customer_signed_in? %>
      <div class="col-3">
        <%= render 'list' %>
      </div>

      <div class="col-9">
      <h2>写真一覧（検索結果（全<%= @photos.count %>件））</h2>
    <% else %>
      <h2>写真一覧</h2>
    <% end %>

      <div class="row">
      <div class="card-list-container py-5 row gap-2 col-10 mx-auto">
        <% @photos.each do |photo| %>
          <!-- card -->
          <div class="card mt-4 shadow-lg card-column-3">
            <div class="p-2">
              <!-- 写真 -->
              <%= link_to photo_path(photo.id) do %>
              <%= image_tag photo.get_image(400,400), class: "card-img-top img-thumbnail w-100" %>
              <% end %>
            </div>
            <!-- ログインしていたら -->
            <% if customer_signed_in? %>
            <div class="card-body">
              <div class="row">
                <div class="p-3">
                  <%= image_tag photo.customer.get_image(200,200), class: "rounded-circle img-thumbnail", size: '70x70' %>
                </div>
                <div class="py-3">
                  <%= link_to customer_path(photo.customer.id) do %>
                  <span class="photo-nickname"><i class="fas fa-user"></i> By <%= photo.customer.nickname %></span>
                  <% end %><br>
                </div>
              </div>
            </div>
            <!-- ログインしていなかったら -->
            <% else %>
            <div class="card-body">
              <div class="row">
                <div class="p-3">
                  <%= image_tag photo.customer.get_image(200,200), class: "rounded-circle img-thumbnail", size: '70x70' %>
                </div>
                <div class="py-3">
                  <span class="photo-nickname"><i class="fas fa-user"></i> By <%= photo.customer.nickname %></span>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>

      </div>
      </div>
    </div>
    <!-- card end -->


    <%= paginate @photos %>

    </div>

  </div>

</div>