<h2>写真一覧（検索結果（全<%= @photos.count %>件））</h2>

<% @photos.each do |photos| %>

<%= link_to photo_path(photos.id) do %>
<%= image_tag photos.get_image(100,100) %>
<% end %><br>

<%= link_to customer_path(photos.customer.id) do %>
<%= photos.customer.nickname %>
<% end %><br>

<% end %>

<%= paginate @photos %>