<div class="container">

  <!--バリデーションエラーが発生したら以下を表示-->
  <% if @photo.errors.any? %>
    <%= @photo.errors.count %>件のエラーが発生しました
    <% @photo.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <h2>写真新規投稿</h2><br>

  <%= form_with model: @photo, url: photos_path do |f| %>

    <div class="field mt-4">
      <%= f.label :image, "写真画像" %><br>
      <%= f.file_field :image, accept: "image/*" %>
    </div>

    <div class="field mt-4">
      <%= f.label :camera_name, "使用カメラ" %><br>
      <%= f.text_field :camera_name, required: true %>
    </div>

    <div class="field mt-4">
      <%= f.label :editing_app_tags, "使用加工アプリ" %><br>
      <%= f.text_field :editing_app_tags %><br>
      ※複数の加工アプリが登録できます。<br>
      複数登録する場合は、文字と文字の間を『 , 』(半角カンマ)で区切ってください。<br>
    </div>

    <div class="field mt-4">
      <%= f.label :introduction, "投稿者コメント" %><br>
      <%= f.text_area :introduction %>
    </div>

    <div class="field mt-4">
      <%= f.label :name_tags, "タグ" %><br>
      <%= f.text_field :name_tags %><br>
      ※複数のタグが登録できます。<br>
      複数登録する場合は、文字と文字の間を『 , 』(半角カンマ)で区切ってください。<br>
    </div>

    <div class="mt-4">
      <%= f.submit '新規投稿' %>
    </div>

  <% end %>

</div>