<h1>写真新規投稿</h1>

<%= form_with model: @photo, url:'/photos' do |f| %>

  <h4>写真</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>使用カメラ</h4>
  <%= f.text_field :camera %>
  
  <h4>使用加工アプリ</h4>
  <%= f.text_field :editing_app %>
  
  <h4>その他機材</h4>
  <%= f.text_field :shooting_equipment %>
  
  <h4>投稿者コメント</h4>
  <%= f.text_area :introduction %>
  
  <h4>タグ</h4>
  <%= f.text_field :tag %>
  
  <%= f.submit '新規投稿' %>
  
<% end %>