<%= image_tag @photo.get_image(100,100) %><br>

<h5>撮影者</h5>
<%= image_tag @photo.customer.get_image(100,100) %>
<%= link_to customer_path(@photo.customer.id) do %>
<%= @photo.customer.nickname %>
<% end %><br>

<h5>使用カメラ</h5>
  <% @camera_tags.each do |camera_tag| %>
  <%=camera_tag.name%>
  <% end %><br>

<h5>使用加工アプリ</h5>
  <% @editing_app_tags.each do |app_tag| %>
  <%=app_tag.name%>
  <% end %><br>

<h5>撮影者コメント</h5>
<%= @photo.introduction %><br><br>

<% if @photo.customer == current_customer %>
<%= link_to "編集する", edit_photo_path(@photo) ,class:"btn btn-success" %>

<% end %>

<div>
  <p>コメント件数：<%= @photo.comments.count %></p>
  <% @photo.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_image(100,100) %></p>
    <%= comment.customer.nickname %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.customer == current_customer %>
      <%= link_to "削除", photo_comment_path(comment.photo, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@photo,@comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
