<div>
  <%= image_tag @photo.get_image %>
  <p>撮影者コメント <%= @photo.introduction %></p>
  <p>撮影者 <%= @photo.customer.nickname %></p>
  <p>使用カメラ <%= @photo.camera %></p>
  <p>使用加工アプリ：<%= @photo.editing_app %></p>
  <p>その他機材：<%= @photo.shooting_equipment %></p>
  <p>投稿日時：<%= @photo.created_at.strftime('%Y/%m/%d') %></p>
  <% if @photo.customer == current_customer %>
    <%= link_to "編集", photo_path(@photo), method: :patch %>
    <%= link_to "削除", photo_path(@photo), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @photo.comments.count %></p>
  <% @photo.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
    <%= comment.customer.nickname %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@photo, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>