<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'list' %>
    </div>
    
    <!--タグリスト-->
    <div class="col-sm-9">
      <div class="row">
        <% @tag_list.each do |tag_list|%>
          <!--.left_joins(:customer).where('customers.is_deleted = ?', false)で退会者のタグは表示させない。.count != 0で、タグが0個以上のものを表示させる。-->
          <% if tag_list.photos.left_joins(:customer).where('customers.is_deleted = ?', false).count != 0 %>
            <%= link_to(photos_path(type: 'tag', id: tag_list.id), class: "badge badge-pill badge-info") do %>
                <%=tag_list.name %>
                <span class="badge badge-light"><%= tag_list.photos.left_joins(:customer).where('customers.is_deleted = ?', false).count %></span>
            <% end %>
          <% end %>
        <% end %>
        
        <% @camera_list.each do |camera_list|%>
          <% if camera_list.photos.left_joins(:customer).where('customers.is_deleted = ?', false).count != 0 %>
            <%= link_to(photos_path(type: 'camera', id: camera_list.id ), class: "badge badge-pill badge-success") do %>
              <%=camera_list.name %>
              <span class="badge badge-light"><%= camera_list.photos.left_joins(:customer).where('customers.is_deleted = ?', false).count %></span>
            <% end %>
          <% end %>
        <% end %>
        
        <% @editing_app_list.each do |app_list|%>
          <% if app_list.photos.left_joins(:customer).where('customers.is_deleted = ?', false).count != 0 %>
            <%= link_to(photos_path(type: 'editing', id: app_list.id ), class: "badge badge-pill badge-primary") do %>
              <%=app_list.name %>
              <span class="badge badge-light"><%= app_list.photos.left_joins(:customer).where('customers.is_deleted = ?', false).count %></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
