<div class="container">

  <h2><%= @customer.nickname %>さんの会員詳細</h2><br>

  <div class="mt-4">
    <%= image_tag @customer.get_image(400,400) %>
  </div>

  <div class="mt-4">
    会員ID ：<%= @customer.id %>
  </div>

  <div class="mt-4">
    ニックネーム ：<%= @customer.nickname %>
  </div>

  <div class="mt-4">
    メールアドレス ：<%= @customer.email %>
  </div>

  <div class="mt-4">
    会員ステータス ：
    <% if @customer.is_deleted == false %>有効
    <% else %>退会
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "編集する", edit_admin_customer_path(@customer) ,class:"btn btn-success" %>
  </div>

  <div class="row">
    <div class="card-list-container py-5 row gap-2 col-10 mx-auto">

      <% @photos.each do |customer_photo| %>

        <!-- card -->
        <div class="card mt-4 shadow-lg card-column-3">
          <div class="p-2">
            <%= link_to admin_photo_path(customer_photo.id) do %>
              <%= image_tag customer_photo.get_image(400,400), class: "card-img-top img-thumbnail w-100" %>
            <% end %>
          </div>
          <%= link_to "削除", admin_photo_path(customer_photo), method: :delete, class:"btn btn-danger" %>
        </div>
        <!-- card end -->
      <% end %>

      </div>
  </div>

  <%= paginate @photos %>

</div>