<div class="container">

  <h2>写真一覧（全<%= @photos.count %>枚）</h2>

  <div class="row">
    <div class="card-list-container py-5 row gap-2 col-10 mx-auto">

      <% @photos.each do |photos| %>
    
        <!-- card -->
        <div class="card mt-4 shadow-lg card-column-3">
          <div class="p-2">
            <%= link_to admin_photo_path(photos.id) do %>
              <%= image_tag photos.get_image(100,100) %>
            <% end %><br>
            <%= link_to admin_customer_path(photos.id) do %>
              <%= photos.customer.nickname %><br>
            <% end %>
          </div>
        </div>
        <!-- card end -->
      <% end %>
      
    </div>
  </div>

  <%= paginate @photos %>

</div>