<h2>お気に入り写真一覧</h2>

  <% @photos.each do |favorite_photo| %>

  <%= link_to favorite_photos_path(favorite_photo.id) do %>
    <%= image_tag favorite_photo.get_image(100,100) %>
  <% end %><br>

  <%= link_to customer_path(favorite_photo.customer.id) do %>
    <%= favorite_photo.customer.nickname %>
  <% end %><br>

  <%= link_to "削除", photo_favorites_path(favorite_photo.id), method: :delete %><br>

  <% end %>

  <%= paginate @photos %>