<div class="container">
  <h2>お気に入り写真一覧</h2>
  
  <div class="row">

  
    <% @photos.each do |favorite_photo| %>
    
      <!-- card -->
      <div class="col-md-4 col-sm-6 my-2">
        <div class="card">
          <div class="p-2">
            
            <!-- 写真 -->
            <%= link_to photo_path(favorite_photo.id) do %>
              <%= image_tag favorite_photo.get_image(400,400), class: "card-img-top img-thumbnail w-100" %>
            <% end %>
          
            <%= link_to customer_path(favorite_photo.customer.id) do %>
              <%= favorite_photo.customer.nickname %>
            <% end %>
        
          </div>
            
          <%= link_to "削除", photo_favorites_path(favorite_photo.id, name: "from_favorite_index"), method: :delete, class:"btn btn-danger" %>
        </div> 
      </div>
      <!-- card end -->   
    <% end %>
   
  </div>
  
  <%= paginate @photos %>
    
</div>