<!DOCTYPE html>
<html>
  <head>
    <title>PhotoGarden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>PhotoGarden</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>
              <li>
                <%= link_to new_photo_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-upload""></i>
                  <span>投稿する</span>
                <% end %>
              </li>
              <li>
                <%= link_to customer_path(current_customer.id), class: 'nav-link text-light' do %>
                  <i class="fas fa-users"></i>
                  <span>マイページ</span>
                <% end %>
              </li>
              <li>
                <%= link_to photos_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-images text-light"></i>
                  <span>写真一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to favorite_photos_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-heart"></i>
                  <span>お気に入り一覧</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "フォロー一覧", followings_customer_path(current_customer), class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to "フォロワー一覧", followers_customer_path(current_customer), class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i>
                  <span>ログアウト</span>
                <% end %>
              </li>

            <% elsif admin_signed_in? %>
              <li>
                <%= link_to admin_root_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-images text-light"></i>
                  <span>写真一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                <i class="fas fa-users"></i>
                <span>会員一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_reports_path, class: 'nav-link text-light' do %>
                <i class="fas fa-triangle-exclamation"></i>
                <span>通報コメント一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i>
                  <span>ログアウト</span>
                <% end %>
              </li>

            <% else %>
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-link text-light"></i>
                  <span>About</span>
                <% end %>
              </li>
              <li>
                <%= link_to photos_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-images text-light"></i>
                  <span>写真一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus text-light"></i>
                  <span>新規登録</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt text-light"></i>
                  <span>ログイン</span>
                <% end %>
              </li>
            <% end %>

    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
